*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.prelude {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    max-width: 100%;
    color: #1F1F1F;
    width: 1600px;
    margin: 0 auto;
}

/*HEADER*/

.header {
    display: flex;
    justify-content: space-between;
    padding: 2rem 5rem;
    align-items: center;
}

.header-logo {
    font-size: 1.25rem;
    font-family: 'Lato';
    font-weight: 900;
}

.header-menu__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.header-menu__list--item a {
    text-decoration: none;
    color: #1F1F1F;
    font-size: 1.25rem;
    padding: 1.3125rem;
}

.header-icons {
    display: flex;
    gap: 24px;
    align-items: center;
}

.header-search {
    -webkit-appearance: none;
    min-width: 14.5rem;
    border: none;
    border-radius: 50px;
    background: url('../img/Vector.png') no-repeat #F2F2F2;
    background-position: 13px center;
    font-size: 1rem;
    font-family: 'Lato';
    padding: 1.125rem 1.25rem 1.125rem 2.5rem ;
}

.header-search::before {
    content: '';
}

.header-bag {
    width: 3.25rem;
    height: 3.25rem;
    background: url('../img/bag.png') no-repeat #F2F2F2;
    border-radius: 50px;
    background-position: center;
}

/*AQUI COMEÇAM AS SECTIONS*/

.section {
    display: flex;
    justify-content: space-between;
    padding: 0 5rem;
    margin-top: 5rem;
}

.section-text {
    width: 32.3125rem;
}

.section-text__title {
    font-size: 6.5rem;
    line-height: 7.5rem;
    background: linear-gradient(270.06deg, #dadada 20.97%, #9f9f9f 99.92%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin-bottom: 1.5rem;
}

.section-text__subtitle {
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: #1F1F1F;
}

.section-btn {
    width: 21rem;
    height: 5.25rem;
    border: 2px solid #1F1F1F;
    border-radius: 12px;
    font-family: 'Lato';
    font-size: 1.25rem;
    color: #1F1F1F;
    margin-top: 8.5rem;
    background: none;
}

.aside {
    padding: 0 5rem;
    margin-top: 12.5rem;
}

.aside-content {
    background: #F3F3F3;
    padding: 4rem;
    border-radius: 8px;
}

.aside-title {
    text-align: center;
    font-size: 2.5rem;
}

.aside-colors {
    display: flex;
    width: 225px;
    margin: 4rem auto;
}

.aside-color__item {
    list-style: none;
    padding: 0 10px;
    margin-top: 4rem;
}

.aside-img {
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
}

.aside-span {
    display: block;
    text-align: center;
    font-family: 'Lato';
    font-weight: 700;
    font-size: 1.25rem;
    margin-top: 2.875rem;
}

.aside-btn {
    width: 21rem;
    height: 5.25rem;
    border: 2px solid #1F1F1F;
    border-radius: 12px;
    font-family: 'Lato';
    font-size: 1.25rem;
    display: block;
    margin: 4rem auto 0;
    background: none;
    
}

.section-content {
    padding: 0 5rem;
    display: flex;
    justify-content: space-between;
    margin-top: 12.5rem;
}

.section-content__text {
    width: 36.3125rem;
    gap: 9rem;
}

.section-content__title {
    font-size: 4rem;
    line-height: 4.9rem;
    background: linear-gradient(270.06deg, #dadada 20.97%, #9f9f9f 99.92%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.section-content__subtitle {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-top: 3rem;
}

.section-reverse {
    flex-direction: row-reverse;
}

.section-run {
    background: url('../img/Image.png') no-repeat;
    width: 1600px;
    height: 45rem;
    padding: 2.5rem 1.5rem;
    margin-top: 12.5rem;
}

.section-run__img {
    display: block;
    margin-right: 1.375rem;
}

.section-run__content {
    display: flex;
    align-items: center;
}

.section-run__title {
    font-size: 6.5rem;
    font-weight: 700;
    line-height: 6.5rem;
    color: white;
}

.section-run__title--br {
    display: block;
}

.section-final {
    display: flex;
    justify-content: space-between;
    padding: 0 5rem;
    margin-top: 12.5rem;
}

.section-final__form {
    background: #F3F3F3;
    padding: 1.7rem;
}

.section-final__title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.final-section__form--item {
    width: 32.3125rem;
    padding: 1.5rem;
    border: none;
    border-radius: 12px;
    background: white;
    font-family: 'Lato';
    font-size: 1.25rem;
    color: #969696;
    margin-top: 1.5rem;
}

.section-final__checkbox {
    margin-top: 3.625rem;
}

.section-final__checkbox input{
    display: none;
}

.section-final__checkbox input + label:before {
    content: '';
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 4px;
    background-color: white;
    border: 2px solid #D2D2D2;
    display: inline-block;
    vertical-align: middle;
    margin-right: 1rem;
}

.section-final__checkbox label {
    font-size: 1.25rem;
    color: #969696;
}

.section-final__form button {
    border: 2px solid #1F1F1F;
    width: 32.3125rem;
    height: 5.25rem;
    border-radius: 12px;
    font-size: 1.25rem;
    margin-top: 2rem;
}

.footer {
    background: #F3F3F3;
    width: 1600px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 3.5rem 5rem;
    margin-top: 10rem;
}

.footer-logo {
    font-size: 1.25rem;
    font-weight: 900;
}

.footer ul {
    list-style:none;
}

.footer-list__item a{
    text-decoration: none;
    color: #1F1F1F;
    line-height: 28px;
}

.social-icons {
    display: flex;
    justify-content: space-between;
}

.footer-final {
    display: flex;
    justify-content: space-between;
    width: 17rem;
    margin: 0 auto;
    align-items: center;
    padding: 24px 0;
}
